html body {
  margin: 0;
  padding: 0;
}

.tesla-car {
  text-align: center;
  width: 1050px;
  margin: 0 auto;
}

.notice {
  margin: 20px 0;
  color: #666;
}

/* .tesla-controls {
  display: block;
  width: 100%;
} */

/* .speed-counter {
  outline: 0;
  width: 30px;
  color: #008dff;
  cursor: pointer;
  display: block;
  padding: 11px 0;
  border: 0;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
} */

.tesla-stats {
  margin: -70px 0 30px;
}

.control-buttons {
  position: absolute;
  right: 10px;
  top: 7px;
  align-items: flex-start;
  text-align: center;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
}

.wrapper {
  margin: 100px 0 150px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/* @font-face {
  font-family: 'RobotoNormal';
  src: url('Roboto-Regular-webfont.eot');
  src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Roboto-Regular-webfont.woff') format('woff'),
       url('Roboto-Regular-webfont.ttf') format('truetype'),
       url('Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
} */

/* *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
} */

/* .cf:before,
.cf:after {
    content: '';
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
  *zoom: 1;
} */