body {
  background: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Roboto';
  overflow: hidden;
}

body#bg-image {
    background: url(assets/tesla.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

body#bg-image::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(141, 140, 140, 0.09);
  z-index: -1; 
}

.control-panel {
  display: flex;
  margin: 58vh auto;
  width: 1000px;
}

.control-heading {
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin: 0 10px;
}

.control-item {
  font-size: 1.5rem;
  border: 1px solid #ccc;
  background-color: #dad8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 230px;
  margin: 0 10px;
}

.climate-control {
  background-color: #33a0ff;
  border: 6px solid #fff;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0 10px;
  display: flex-wrap;
}

.climate-control p {
  color: #fff;
  margin: 22px 25px 0;
}

.climate-control img {
  width: 22px;
  height: 22px;
  margin: 10px 38px 25px;
}

.control-buttons {
  position: relative;
  left: 20%;
}

.control-up {
  display: block;
  border-bottom: 1px solid #fff;
  width: 30px;
  padding-bottom: 5px;
}

.control-down {
  border-top: 1px solid #fff;
  width: 30px;
  margin: 0;
  padding-top: 5px;
}

.display-item {
  width: 130px;
  display: inline-block;
  padding: 0 10px;
}

.model-image {
  height: 20px;
  width: 100%;
}

.range {
  color: #008dff;
  font-size: 40px;
}

.range::after {
  font-size: 0.4em;
  font-weight: normal;
  font-family: 'Roboto';
  content: 'MI';
  position: relative;
  bottom: 20px;
}

#controls {
  width: 900px;
  margin: 6vh auto;
}