body {
  background: #222;
  height: 100%;
  margin: 0;
}

body#bg-image {
    background: url(assets/tesla.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

body#bg-image::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.9);
  z-index: -1; 
}