html {
  margin: 0;
  padding: 0;
}
.header {
  padding: 25px 0;
  text-align: center;
  background: #222;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.form  h1 {
  font-size: 38px;
}

.logo {
  width: 100px;
  height: 13px;
}

/* @font-face {
  font-family: 'RobotoNormal';
  src: url('Roboto-Regular-webfont.eot');
  src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('Roboto-Regular-webfont.woff') format('woff'),
       url('Roboto-Regular-webfont.ttf') format('truetype'),
       url('Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
} */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* .cf:before,
.cf:after {
    content: '';
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
  *zoom: 1;
} */